* {
    box-sizing: border-box;
}

body {
    @include font ();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    max-width: 100%;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.content {
    width: 85%;
    margin: 0 auto;
}

:hover,
:focus,
:active {
    outline: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.error-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: rgb(204, 32, 32);
    @include font(18px, 600);
}

.button {
    margin-top: 40px;
    padding: 10px 40px;
    background-color: $middleBlue;
    color: white;
    border: 0;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;

    &:hover {
        background-color: $darkBlue;
        transition: .3s;
    }

    &:disabled {
        background-color: rgb(98, 116, 160);

        &:hover {
            background-color: rgb(98, 116, 160);
        }
    }
}

@include media-max(768px) {
    .content {
        width: 95%;
    }

    .button {
        margin-top: 30px;
        padding: 7px 30px;

    }
}